$base-bg: #fff;
$brand-color:  #342a4a; // #2d9dac;
$brand-light-color: #f9f7f6; // #ecf3f4;
$highlight-bg: $brand-color;
$highlight-bg-text: #fff;
$text-color: #353535;
$text-color-beta: #A09D9D;
$dark-bg: #005A85;
$base-danger: #E23E4C;
